@font-face {
    font-family: 'Metropolis';
    src: url('/fonts/metropolis-bold-webfont.woff2') format('woff2'),
         url('/fonts/metropolis-bold-webfont.woff') format('woff');
    font-weight: bolder;
    font-style: normal;

}

@font-face {
    font-family: 'Metropolis';
    src: url('/fonts/metropolis-light-webfont.woff2') format('woff2'),
         url('/fonts/metropolis-light-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;

}

@font-face {
    font-family: 'Metropolis';
    src: url('/fonts/metropolis-regular-webfont.woff2') format('woff2'),
         url('/fonts/metropolis-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Metropolis';
    src: url('/fonts/metropolis-semibold-webfont.woff2') format('woff2'),
         url('/fonts/metropolis-semibold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
