// _globals.scss

// I. Colors
// II. Typography

// I. Colors
$white: #FFFFFF;
$ghost_white: #f9fafb;
$darkblue: #27313E;
$hotpink: #F1449F;
$cyan: #50E1FA;
$yellow: #FADF2C;
$primary: $darkblue;
$secondary: $yellow;
$tertiary: $hotpink;

$project_pink: #f39aab;
$project_green: #35ae94;
$project_blue: #0b1742;

// II. Typography
//   a. Headers
//   b. Paragraphs
//   c. Links

// a. Headers
.logo {
    display: inline-block;

    margin: 0;

    font-family: "Metropolis", sans-serif;
    font-size: 24px;
}

h1 {
    font-family: "Metropolis", sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 44px;
    span {
        letter-spacing: 0.1em;
        text-transform: uppercase;

        font-family: "Fira Mono", monospace;
        font-size: 16px;
        font-weight: normal;
        line-height: 30px;
    }
}

h2 {
  color: $white;

  font-family: "Metropolis", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

// b. Paragraphs
p {
    font-family: "Metropolis", sans-serif;
    font-size: 18px;
    font-weight: 100;
    line-height: 28px;
}

// c. Links
a {
    text-decoration: none;

    color: inherit;
    &:hover {
        color: $secondary;
    }
}
