.projects {
  position: relative;
  top: -220px;

  margin-bottom: -220px;
  padding: 0 25px;
  .project {
    box-sizing: border-box;
    width: 100%;
    height: 310px;
    margin-bottom: 10px;

    color: $white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);

    font-family: "Metropolis", sans-serif;

    &:first-of-type {
      background-color: $project_blue;
    }

    &:nth-child(3) {
      background-color: $project_pink;
    }

    &:last-of-type {
      background-color: $project_green;
    }

    .project__image {
      // box-shadow: 0px 0px 40px 0px rgba(6, 14, 42, 1);
      img {
        width: 100%;
        height: 175px;
      }
    }

    .project__details {
      padding: 0 25px;

      h4, a {
        margin-bottom: 0;

        letter-spacing: 0.13em;
        text-transform: uppercase;

        font-family: "Fira Mono", monospace;
        font-size: 12px;
        font-weight: 100;
      }

      h3 {
        margin-top: 5px;

        font-size: 24px;
      }

    }

    p {
      display: none;
    }
  }

  &:after {
    position: absolute;
    z-index: -1;
    top: 220px;
    left: 0;

    width: 100%;
    height: calc(100% - 220px);

    content: '\A';

    background-color: $ghost_white;
  }
}
